.btn {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  margin: 20px 0px 0px 0px;
  text-transform: uppercase;
  text-align: center;
  }

  .btn.btn-green{
    background-color: #26a69a;
  }

  .btn.btn-red{
    background-color: #e63946;
  }